<!-- #######  YAY, I AM THE SOURCE EDITOR! #########-->
<h1 style="color: #5e9ca0; text-align: center;">You can poop on <span style="color: #2b2301;">this schlemo</span> text!</h1>
<h2 style="color: #2e6c80; text-align: center;">How to use the smoop?</h2>
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="hodlon_zo_profilepic.png" alt="btc qr code" width="230" height="230" /></p>
<p>The first time Yossarian saw the chaplain he fell madly in love with him. Yossarian was in the hospital with a pain in his liver that fell just short of being jaundice. The doctors were puzzled by the fact that it wasn't quite jaundice. If it became jaundice they could treat it. If it didn't become jaundice and went away they could discharge him. But this just being short of jaundice all the time confused them.&nbsp;</p>
<p>This is a <a href="https://html-online.com/editor/"><span style="background-color: #2b2301; color: #fff; display: inline-block; padding: 3px 10px; font-weight: bold; border-radius: 5px;">poop</span></a> button to clean your butt.</p>
